.bgFix{
    position: fixed;   
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    .bgImg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: -1;
        opacity: 0.5;
    }
    .bgVideo{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: -1;
        opacity: 0.5;
        img{
            opacity: 0.90;
            mix-blend-mode: plus-lighter;
        }
    }
    .bgfrontImg{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100vh;
        z-index: 0;
        opacity: 0.45;
        mix-blend-mode: color;
    }
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}