<header>
  <nav class="navbar navbar-expand-xl mynavbar fixed-top" role="navigation" aria-label="Main navigation">
    <div class="container">
      <a class="navbar-brand d-flex align-items-center" [routerLink]="['/']">
        <img src="assets/images/logo-lg.svg" alt="LAKSHMI888 logo" class="img-fluid" width="89" height="89" />
        <span class="text-white k2dFont d-none d-sm-inline-block ms-2">LAKSHMI888</span>
      </a>

      <button
        class="navbar-toggler customtoggler ms-auto"
        type="button"
        aria-label="Toggle navigation"
        (click)="isCollapsed = !isCollapsed"
        [ngClass]="{ open: !isCollapsed }"
      >
        <span class="toggleIcon"></span>
        <span class="toggleIcon"></span>
        <span class="toggleIcon"></span>
        <span class="toggleIcon"></span>
      </button>

      <div class="collapse navbar-collapse ml265px" [collapse]="isCollapsed" [isAnimated]="true">
        <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
          <li class="nav-item" *ngFor="let item of navItems">
            <a class="nav-link" [routerLink]="[item.route]" routerLinkActive="active">
              <span>{{ item.label | translate }}</span>
            </a>
          </li>
        </ul>

        <div class="navbar-text py-0 d-flex-start flex-column flex-xl-row g-7 align-items-start">
          <div dropdown class="d-inline-block position-relative me-3">
            <button
              dropdownToggle
              type="button"
              class="btn btn-outline-primary rounded-pill px-3 btn-h45 d-flex-start g-3"
              aria-label="Select language"
            >
              <span class="d-inline-flex align-items-center g-5">
                <img [src]="currentLang.flag" alt="{{ currentLang.name }} flag" class="img-fluid img-w31" />
                <span>{{ currentLang.name }}</span>
              </span>
            </button>

            <ul *dropdownMenu class="dropdown-menu langDropdown">
              <li *ngFor="let lang of languages">
                <a class="dropdown-item" href="#" (click)="switchLanguage(lang.code)">
                  <span class="d-inline-flex align-items-center g-5">
                    <img [src]="lang.flag" alt="{{ lang.name }} flag" class="img-fluid img-w31" />
                    <span>{{ lang.name }}</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>

          <button class="btn btn-primary btnheaderprimary btn-h45 rounded-pill px-4">
            {{ 'HEADING_BUY' | translate }}
          </button>
        </div>
      </div>
    </div>
  </nav>
</header>
