::ng-deep {
  body.hmepage {
  }
}
.hmeBanner {
  position: relative;
  padding: 40px 0px 122px;
  &::before {
    content: "";
    position: absolute;
    top: -110px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/assets/images/home/bannerImgBg.png")
      no-repeat top right;
    background-size: cover;
    z-index: -1;
    @media (max-width: 991px) {
      background-color: rgba(0, 0, 0, 0.2);
      background-blend-mode: overlay;
    }
  }
  .bannerTitle {
    font-family: var(--k2dFont);
    font-size: clamp(40px, calc(-2.529695px + 7.383628vw), 86px);
    font-weight: 700;
    line-height: clamp(50px, calc(7.932584px + 7.303371vw), 95.5px);
    color: var(--text-white);
    margin-bottom: 10px;
  }
  .bannerTxt {
    font-size: clamp(16px, calc(14.150883px + 0.321027vw), 18px);
    font-weight: 500;
    line-height: clamp(24px, calc(16.603531px + 1.284109vw), 32px);
    text-transform: capitalize;
    color: #ffffff;
    max-width: 615px;
  }
  .addressTxt {
    font-size: clamp(16px, calc(14.150883px + 0.321027vw), 18px);
    font-weight: 600;
    line-height: 21.5px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 12px;
  }
  .addressBx {
    max-width: 520px;
    padding: 15px 23px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 14px;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.05) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    backdrop-filter: blur(9.95px);
    font-size: clamp(14px, calc(12.150883px + 0.321027vw), 16px);
    font-weight: 600;
    margin-bottom: 96px;
  }
}

.tokenListBx {
  padding: 18px 0px 18px 60px;
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: center;
  position: relative;
  @media (max-width: 991px) {
    flex-direction: column;
    text-align: center;
  }
  &::before {
    content: "";
    background: linear-gradient(
      90deg,
      rgba(105, 38, 66, 0) 0%,
      #f6267c 50%,
      rgba(105, 38, 66, 0) 100%
    );
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 87px;
    transform: translateY(-50%);
    z-index: -1;
  }

  .tokenlistTxt {
    font-family: var(--k2dFont);
    font-size: 22px;
    font-weight: 800;
    line-height: 26px;
    text-transform: uppercase;
    color: #ffffff;
    width: 100%;
    min-width: 201px;
    max-width: 235px;
  }
  .tokenlistParaTxt {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    text-transform: capitalize;
    color: #ffffff;
    max-width: 328px;
  }
  .centerLogo {
    filter: drop-shadow(0px 13.77px 88.59px #31041e);
    width: 180px;
    height: 180px;
  }
}

.secTitle {
  text-align: center;
  h5 {
    font-size: 16px;
    font-weight: 500;
    line-height: 30.58px;
    text-transform: capitalize;
    color: #ffffff;
    &.fs-23 {
      font-size: 23px;
    }
  }
  h2 {
    font-family: "K2D";
    font-size: clamp(28px, calc(12.282504px + 2.728732vw), 45px);
    font-weight: 800;
    line-height: clamp(50px, calc(39.691172px + 1.789727vw), 61.15px);
    text-transform: capitalize;
    color: #ffffff;
    &.fs-36 {
      font-size: clamp(24px, calc(12.905297px + 1.926164vw), 36px);
      line-height: clamp(46px, calc(35.644944px + 1.797753vw), 57.2px);
      text-transform: uppercase;
    }
  }
  p {
    font-size: clamp(14px, calc(12.150883px + 0.321027vw), 16px);
    font-weight: 400;
    line-height: clamp(24px, calc(18.452648px + 0.963082vw), 30px);
    text-transform: capitalize;
    color: #ffffff;
  }
}

//aboutus Section

.aboutSec {
  position: relative;
  margin-top: -120px;
  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/assets/images/home/aboutBgImg.png")
      no-repeat top right;
    background-size: cover;
    z-index: -1;
  }
}

.aboutusWizard {
  position: relative;
  padding: 78px 0px 85px;
  margin-bottom: 34px;
  z-index: 1;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../../../../public/assets/images/home/aboutusCenterImg.png")
      no-repeat center;
    background-size: contain;
    z-index: -1;
    width: 100%;
    height: 100%;
    max-width: 756px;
    max-height: 551px;
  }
}

.aboutBx {
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(9.95px);
  padding: 24px 28px 22px;
  text-align: center;
  max-width: 272px;
  margin: 0 auto 34px;
  .icon {
    margin-bottom: 12px;
  }
  h3 {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.93px;
    text-transform: capitalize;
    color: #ffffff;
  }
  p {
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 0;
  }
}

.aboutBtmBx {
  border-radius: 30px;
  border: 3px solid #fa85b5;
  background: #cf4c82;
  backdrop-filter: blur(9.95px);
  position: relative;

  p {
    font-size: clamp(18px, calc(13.377207px + 0.802568vw), 23px);
    font-weight: 600;
    line-height: clamp(30px, calc(22.973355px + 1.219904vw), 37.6px);
    text-transform: capitalize;
    padding: 28px 15px;
    text-align: center;
    max-width: 666px;
    margin: 0 auto;
  }
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/assets/images/home/aboutBtmBxImg.png")
      no-repeat center;
    background-size: cover;
  }
}

//tokenomics Section
.tokenomicsSec {
  position: relative;
  padding: 24px 0px 0px;
  &::before {
    content: "";
    position: absolute;
    top: -50px;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../../../../public/assets/images/home/tokenomicsBgImg.png")
      no-repeat bottom right;
    background-size: cover;
    z-index: -1;
  }
}
.tokenomicsGraphCircle {
  border-radius: 18.52px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(9.22px);
  box-shadow: 0px 3.7px 96.33px rgba(0, 0, 0, 0.25);
  width: 427px;
  height: 427px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 26px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // background: url("../../../../public/assets/images/home/tokenomicsCoinCenter.svg")
    //   no-repeat center;
    background: url("../../../../public/assets/images/logo-lg.svg") no-repeat
      center;
    background-size: 100%;
    z-index: -1;
    width: 191px;
    height: 191px;
  }
}
.tokenomicsLeftBx {
  border-radius: 20px;
  border: 2px solid #fa85b5;
  background: #cf4c82;
  backdrop-filter: blur(9.95px);
  padding: 20px 15px;
  text-align: center;
  .label {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.5px;
    text-transform: capitalize;
    color: #ffffff;
  }
  .value {
    font-size: 18px;
    font-weight: 600;
    line-height: 22.93px;
    text-transform: capitalize;
    color: #ffffff;
    word-break: break-all;
  }
}

.bxLabelWizard {
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(9.95px);
  padding: 27px 22px;
  .d-flex {
    min-width: 150px;
    width: 100%;
    &.mw175 {
      min-width: 175px;
    }
  }
  .colorLbl {
    border-radius: 8px;
    width: 30px;
    height: 30px;
    &.color1 {
      background: #ff6384;
    }
    &.color2 {
      background: #36a2eb;
    }
    &.color3 {
      background: #ffce56;
    }
    &.color4 {
      background: #4bc0c0;
    }
    &.color5 {
      background: #96f;
    }
  }
  .percentVal {
    font-size: 18px;
    font-weight: 700;
    line-height: 22.93px;
    text-transform: capitalize;
    color: #ffffff;
  }
  .labelTxt {
    font-size: 16px;
    font-weight: 400;
    line-height: 22.93px;
    text-transform: capitalize;
    color: #ffffff;
  }
}

.bxLabelWizard2 {
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(9.95px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  margin-bottom: 10px;
  .label {
    font-size: 16px;
    font-weight: 500;
    line-height: 21.5px;
    text-transform: capitalize;
    color: #ffffff;
    margin-bottom: 12px;
  }
  .value {
    font-size: 20px;
    font-weight: 700;
    line-height: 22.93px;
    text-transform: capitalize;
    color: #ffffff;
  }
}

//roadmap Section
.roadmapsec {
  position: relative;
  padding: 80px 0 30px;
  z-index: 0;
  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("../../../../public/assets/images/home/roadmap-bg.png");
    background-position: top center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.roadmpaWizard {
  .rmPhaseTit {
    font-family: var(--k2dFont);
    font-size: clamp(18px, calc(12.452648px + 0.963082vw), 24px);
    font-weight: 800;
    line-height: clamp(30px, calc(23.343178px + 1.155698vw), 37.2px);
    text-transform: uppercase;
    color: #ffffff;
    // white-space: nowrap;
    max-width: 257px;
    span {
      font-family: var(--k2dFont);
      font-size: clamp(30px, calc(20.754414px + 1.605136vw), 40px);
      font-weight: 800;
      line-height: clamp(46px, calc(35.644944px + 1.797753vw), 57.2px);
      text-transform: uppercase;
      color: #ffffff;
      display: block;
      white-space: nowrap;
    }
  }
}

.rm1 {
  position: relative;
  height: 356px;
  display: flex;
  align-items: center;
  justify-content: start;
  @media (max-width: 991px) {
    justify-content: center;
  }
  .rmPhaseImg {
    position: absolute;
    right: -50px;
    @media (max-width: 991px) {
      position: unset;
      right: 0px;
    }
  }
}

.rm2 {
  position: relative;
  height: 406px;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
   @media (max-width: 991px) {
    justify-content: center;
  }
  .rmPhaseImg {
    position: relative;
    //     right: auto;
    left: -100px;
    @media (max-width: 991px) {
      left: 0px;
    }
  }
  .rmPhaseTit {
    position: absolute;
    right: 0;
     @media (max-width: 991px) {
      position: unset;
     }
  }
}

.rm3 {
  position: relative;
  height: 361px;
  display: flex;
  align-items: center;
  justify-content: start;
  .rmPhaseImg {
    position: absolute;
    right: -50px;
    @media (max-width: 767px) {
      right: 0px;
    }
  }
}

.rmcntbx {
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
  backdrop-filter: blur(9.95px);
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  text-transform: capitalize;
  color: #ffffff;
  ul {
    margin-bottom: 0;
    li {
      margin-bottom: 4px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &.rmLeftBx {
    max-width: 468px;
    padding: 24px 24px 24px 24px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -32px;
      transform: translateY(-50%);
      border-top: 14.33px solid transparent;
      border-bottom: 14.33px solid transparent;
      border-left: 23.89px solid transparent;
      border-right: 23.89px solid #cf4c82;
    }
    @media (max-width: 991px) {
      margin: 0 auto 45px;
      &::before {
        content: "";
        position: absolute;
        top: -11%;
        left: 50%;
        transform: translateX(-50%);
        border-top: 14.33px solid transparent;
        border-bottom: 14.33px solid #cf4c82;
        border-left: 23.89px solid transparent;
        border-right: 23.89px solid transparent;
      }
    }
  }
  &.rmRightBx {
    max-width: 454px;
    padding: 24px 24px 24px 24px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: -32px;
      transform: translateY(-50%);
      border-top: 14.33px solid transparent;
      border-bottom: 14.33px solid transparent;
      border-right: 23.89px solid transparent;
      border-left: 23.89px solid #cf4c82;
    }
     @media (max-width: 991px) {
      margin: 0 auto 45px;
      &::after {
        content: "";
        position: absolute;
        top: -11%;
        right: auto;
        left: 50%;
        transform: translateX(-50%);
        border-top: 14.33px solid transparent;
        border-bottom: 14.33px solid #cf4c82;
        border-left: 23.89px solid transparent;
        border-right: 23.89px solid transparent;
      }
    }
  }
}

.whitepaperBx {
  position: relative;
  border-radius: 40px;
  border: 3px solid #fa85b5;
  background: #cf4c82;
  backdrop-filter: blur(9.95px);
  padding: 22px 15px;
  height: 162px;
  max-width: 776px;
  margin: 0 auto 48px;
  &::before {
    content: "";
    border-radius: 40px;
    background-image: url("../../../../public/assets/images/home/whitepaperBg.png");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
}

.socialMediaLinks {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
  max-width: 402px;
  margin: 22px auto;
}

.communitySec {
  padding-bottom: 90px;
}

.bgbtmsections {
  position: relative;
  &::before {
    content: "";
    background-image: url("../../../../public/assets/images/pageEndBg.png");
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    aspect-ratio: 1440 / 832;
    top: -50px;
  }
}
