<div class="mainContent">
  <div class="pageContent">
    <div class="hmeBanner">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <h1 class="bannerTitle">#LAKSHMI1888 Crypto Coin</h1>
            <p class="bannerTxt">
              Experience the blessings of prosperity and spiritual growth with
              $LUCK888, inspired by Goddess Lakshmi. Unlock both material wealth
              and inner prosperity with Lakshmi Crypto Coin – the token inspired
              by timeless values and purposeful growth.
            </p>
            <div class="mb32">
              <button class="btn btn-primary rounded-pill btn-h55 fs-20 fw-700">
                Buy LUCK888
              </button>
            </div>
            <div>
              <div class="addressTxt">$ LUCK888 Token Contract address</div>
              <div class="addressBx">
                <span>0x8FF69C3Ca3948B137ec2cE836543aE2b356bD0AD</span>
                <button class="btn btnEmpty">
                  <svg
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M16 12.9V17.1C16 20.6 14.6 22 11.1 22H6.9C3.4 22 2 20.6 2 17.1V12.9C2 9.4 3.4 8 6.9 8H11.1C14.6 8 16 9.4 16 12.9Z"
                      fill="#CF4C82"
                    />
                    <path
                      opacity="0.4"
                      d="M17.1 2H12.9C9.45001 2 8.05001 3.37 8.01001 6.75H11.1C15.3 6.75 17.25 8.7 17.25 12.9V15.99C20.63 15.95 22 14.55 22 11.1V6.9C22 3.4 20.6 2 17.1 2Z"
                      fill="#CF4C82"
                    />
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-auto">
            <div class="tokenListBx">
              <div class="tokenlistTxt d-flex-start justify-content-end g-12">
                <img
                  src="assets/images/home/article-hover.gif"
                  alt="icon"
                  class="img-fluid"
                  width="26"
                  height="26"
                />
                <span>Token Listing</span>
              </div>
              <div>
                <!-- <img
                  src="assets/images/home/tokencenterlogo.svg"
                  alt="tokencenterlogo"
                  class="centerLogo"
                /> -->
                <img
                  src="assets/images/logo-lg.svg"
                  alt="tokencenterlogo"
                  class="centerLogo"
                  width="180"
                  height="180"
                />
              </div>
              <div class="tokenlistParaTxt">
                Token Will be listing USZ Exchange at October 16th
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- About Section -->
  <section class="secpad aboutSec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="secTitle mb-4">
            <h5>Innovative Features</h5>
            <h2>ABOUT LUCK888</h2>
            <p>
              Experience the blessings of prosperity and spiritual growth with
              LUCK888, inspired by Goddess Lakshmi. Unlock both material wealth
              and inner prosperity with Lakshmi Token!
            </p>
          </div>
        </div>
      </div>

      <div class="aboutusWizard">
        <div class="row justify-content-between align-items-center">
          <div class="col-lg-auto col-md-6">
            <div class="aboutBx">
              <div class="icon">
                <img
                  src="assets/images/home/shield-security.svg"
                  alt="icon"
                  class="img-fluid"
                />
              </div>
              <h3>Safe & Security</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
              </p>
            </div>
            <div class="aboutBx">
              <div class="icon">
                <img
                  src="assets/images/home/box.svg"
                  alt="icon"
                  class="img-fluid"
                />
              </div>
              <h3>Blockchain Platform</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
              </p>
            </div>
          </div>
          <div class="col-lg-auto col-md-6">
            <div class="aboutBx">
              <div class="icon">
                <img
                  src="assets/images/home/tag-2.svg"
                  alt="icon"
                  class="img-fluid"
                />
              </div>
              <h3>Low Fees</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
              </p>
            </div>
            <div class="aboutBx">
              <div class="icon">
                <img
                  src="assets/images/home/layer.svg"
                  alt="icon"
                  class="img-fluid"
                />
              </div>
              <h3>Easy to use</h3>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed 
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-lg-10">
          <div class="aboutBtmBx">
            <p>
              Equipped with enhanced functionality, $LUCK888 provides investors
              with more than merely the excitement
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="secpad tokenomicsSec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-5">
          <div class="secTitle mb-4 text-center">
            <h2 class="text-uppercase">TOKENOMICS & Token&nbsp;Distribution</h2>
            <p>Token Details</p>
          </div>
        </div>
      </div>
      <div class="row align-items-end">
        <div class="col-lg-6">
          <div class="text-center">
            <div class="tokenomicsGraphCircle">
              <img
                src="assets/images/home/tokenomicsGraph.svg"
                alt="tokenomicsGraph"
                class="img-fluid"
              />
            </div>
          </div>
          <div class="tokenomicsLeftBx mb-4 mb-lg-0">
            <div class="label">$ LUCK888 Token Contract address</div>
            <div class="value">0x8FF69C3Ca3948B137ec2cE836543aE2b356bD0AD</div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="bxLabelWizard mb-3">
            <div class="row">
              <div class="col-lg-auto">
                <div class="d-flex g-14 mb32 mw175">
                  <div class="colorLbl color1"></div>
                  <div>
                    <div class="percentVal">50%</div>
                    <div class="labelTxt text-nowrap">Presale Post Sale</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-auto">
                <div class="d-flex g-14 mb32">
                  <div class="colorLbl color2"></div>
                  <div>
                    <div class="percentVal">30%</div>
                    <div class="labelTxt">Creator</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-auto">
                <div class="d-flex g-14 mb32">
                  <div class="colorLbl color3"></div>
                  <div>
                    <div class="percentVal">10%</div>
                    <div class="labelTxt">Staking</div>
                  </div>
                </div>
              </div>
              <!-- </div>
            <div class="row"> -->
              <div class="col-lg-auto">
                <div class="d-flex g-14 mw175">
                  <div class="colorLbl color4"></div>
                  <div>
                    <div class="percentVal">5%</div>
                    <div class="labelTxt">Liquidity</div>
                  </div>
                </div>
              </div>
              <div class="col-lg-auto">
                <div class="d-flex g-14">
                  <div class="colorLbl color5"></div>
                  <div>
                    <div class="percentVal">5%</div>
                    <div class="labelTxt">Charity</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 col-md-6">
              <div class="bxLabelWizard2 mb-3">
                <div class="label">Token Name</div>
                <div class="value">lakshmi888</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="bxLabelWizard2 mb-3">
                <div class="label">token Symbol</div>
                <div class="value">LUCK888</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="bxLabelWizard2 mb-3">
                <div class="label">Token Supply</div>
                <div class="value">100 trillion</div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6">
              <div class="bxLabelWizard2 mb-3">
                <div class="label">Network</div>
                <div class="value">Binance</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="secpad roadmapsec">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7">
          <div class="secTitle">
            <h2>Road Map</h2>
            <p>
              Initiating the website, fostering community involvement,
              integrating token utility, listing on exchanges, broadening
              partnerships, and promoting global adoption.
            </p>
          </div>
        </div>
      </div>
      <div class="roadmpaWizard">
        <div class="row justify-content-center">
          <div class="col-md-11">
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="rm1">
                  <div class="rmPhaseTit">
                    <span>Phase: 1</span>
                    Foundation & <br class="d-none d-lg-block" />
                    Token Launch
                  </div>
                  <div class="rmPhaseImg">
                    <img
                      src="assets/images/home/rmImg1.png"
                      alt="rmImg"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="rmcntbx rmLeftBx">
                  <ul>
                    <li>
                      Finalize project design, whitepaper, and tokenomics.
                    </li>
                    <li>
                      Lakshmi Crypto Coin ($LUCK) Live on BNB Chain. Establish
                      strategic partnerships with spiritual communities and
                      charitable organizations.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="rmcntbx rmRightBx">
                  <ul>
                    <li>
                      Release the Divine Tokens platform with core
                      functionalities.
                    </li>
                    <li>
                      Launch the play-to-earn (P2E) game beta featuring $LUCK.
                    </li>
                    <li>
                      Include educational content and devotional storytelling
                      through interactive gameplay.
                    </li>
                  </ul>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="rm2">
                  <div class="rmPhaseImg">
                    <img
                      src="assets/images/home/rmImg2.png"
                      alt="rmImg"
                      class="img-fluid"
                    />
                  </div>
                  <div class="rmPhaseTit">
                    <span>Phase: 2</span>
                    Platform Launch & Game Beta
                  </div>
                </div>
              </div>
            </div>
            <div class="row align-items-center">
              <div class="col-lg-6">
                <div class="rm1">
                  <div class="rmPhaseTit">
                    <span>Phase: 3</span>
                    Ecosystem Expansion & <br class="d-none d-lg-block" />
                    Additional Deities
                  </div>
                  <div class="rmPhaseImg">
                    <img
                      src="assets/images/home/rmImg3.png"
                      alt="rmImg"
                      class="img-fluid"
                    />
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="rmcntbx rmLeftBx">
                  <ul>
                    <li>Roll out other divine tokens.</li>
                    <li>
                      Integrate these tokens into the ecosystem for enhanced
                      spiritual engagement.
                    </li>
                    <li>
                      Introduce advanced NFT features and in-game character
                      upgrades.
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="bgbtmsections">
    <section class="secpad whitepapersec">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
                <div class="whitepaperBx">
                  <div class="secTitle text-center">
                    <h2 class="fs-36">Whitepaper</h2>
                  </div>
                  <div class="text-center">
                    <button class="btn btnEmpty btnIconTxt">
                      <img src="assets/images/home/document-download.svg" alt="doc-download" class="img-fluid" />
                      <span class="fs-20 fw-500">Download Whitepaper</span>
                    </button>
                  </div>
                </div>
          </div>
        </div>
      </div>
    </section>
    <section class="secpad communitySec">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-8">
              <div class="secTitle">
                <h5 class="fs-23">Mission of LUCK888 Token</h5>
                <h2>Join the LUCK888 Community</h2>

                <div class="socialMediaLinks">
                  <a href=""><img src="assets/images/home/socialmedia/instagram.png" alt="instagram" /></a>
                  <a href=""><img src="assets/images/home/socialmedia/reddit.png" alt="reddit" /></a>
                  <a href=""><img src="assets/images/home/socialmedia/discord.png" alt="discord" /></a>
                  <a href=""><img src="assets/images/home/socialmedia/medium.png" alt="medium" /></a>
                  <a href=""><img src="assets/images/home/socialmedia/github.png" alt="github" /></a>
                </div>

                <p class="mb40">
                  The Lakshmi Crypto Coin ($LUCK888) is the cornerstone of the Divine Tokens ecosystem,
representing both spiritual abundance and financial empowerment. It seamlessly
enables transactions while bridging faith and finance.
                </p>
              </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </div>
</div>
<!-- <app-footer></app-footer> -->
